<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL" name="spring-jwt-v2"   packages="">
    <Appenders>
        <RollingFile name="root" fileName="./logs/spring-jwt-v2.log"
                     filePattern="./logs/spring-jwt-v2_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MMM-dd HH:mm:ss,SSS}] [%p] [%thread] [%X{X_PS_REQUEST_ID}] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%d{MMM-dd HH:mm:ss,SSS}] %highlight{[%p]} [%thread] [%X{X_PS_REQUEST_ID}] - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="root"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>